* /*Police Raleway choisie est Light 300 et semi-bold 600 */ {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

p {
  font-size: 0.9em;
}

#bloc_page {
  width: 1130px;
  margin: auto;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

/*Menu de navigation*/
nav ul {
  list-style-type: none;
  display: flex;
  padding: 0px;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 1em;
  text-decoration: none;
  color: #0065fc;
}

nav a:hover {
  margin-top: 10px;
  border-top: 2px solid #0065fc;
}

/*Bloc slogan*/

/*Bloc champ recherche*/
#champ_recherche {
  display: flex;
  margin-bottom: 22px;
}

.champ_saisie {
  flex: 0.2;
  border: 2px solid #f2f2f2;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fa-map-marker-alt {
  width: 40px;
  height: 37px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  cursor: pointer;
}

.bouton_rechercher {
  width: 120px;
  height: 40px;
  background-color: #0065fc;
  border: 2px #0065fc;
  border-radius: 0px 20px 20px 0px / 50px 15px 15px 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  color: white;
  font-weight: bold;
}

/*Bloc filtres*/
#filtres {
  display: flex;
  justify-content: flex-start;
}

.bouton_filtre {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: 2px #f2f2f2 solid;
  background-color: white;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  color: #0065fc;
  background-color: #deebff;
  margin: -10px;
  margin-top: -44px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  float: left;
  line-height: 4;
  text-align: center;
}

/*bloc informatif nombre logements*/
#info_resultat_recherche {
  display: flex;
  justify-content: flex-start;
}

.fa-info {
  color: #0065fc;
  border-radius: 30px;
  width: 15px;
  height: 15px;
  border: 2px #f2f2f2 solid;
  text-align: center;
  padding: 8px;
}

/*Bloc central*/

#bloc_central {
  display: flex;
}

/*bloc offre hébergement*/

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f2f2f2;
  border: 3px #f2f2f2 solid;
  border-radius: 15px;
}

.titre_hebergement
{
  display: flex;
}

#offre_cannebiere {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 223px;
  width: 229px;
}

.image_cannebiere {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 219px;
}

.texte_cannebiere_gras {
  margin-top: 21.4px;
  font-family: "Raleway", sans-serif;
  margin-left: 10px;
  margin-right: 2px;
  margin-bottom: 0.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  font-weight: bold;
}

.texte_cannebiere {
  font-family: "Raleway", sans-serif;
  margin-left: 10px;
  margin-right: 2px;
  margin-bottom: 0.4px;
  margin-top: 5.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  font-size: 0.9em;
}

.icone-cannebiere {
  color: rgb(0, 101, 252);
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  margin-left: 8px;
  margin-top: 1.4px;
  padding-left: 0px;
  padding-top: 2px;
  text-align: left;
}

#offre_hotel_port {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 223px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 229px;
}

.image_hotel_port {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  font-weight: 400;
  height: 130px;
  margin-bottom: -18px;
  margin-left: 5px;
  margin-right: 2px;
  margin-top: 3px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  width: 219px;
}

.texte_hotel_port_gras {
  margin-top: 21.4px;
  font-family: "Raleway", sans-serif;
  margin-left: 10px;
  margin-right: 2px;
  margin-bottom: 0.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  font-weight: bold;
}

.texte_hotel_port {
  font-family: "Raleway", sans-serif;
  margin-left: 10px;
  margin-right: 2px;
  margin-bottom: 0.4px;
  margin-top: 5.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  font-size: 0.9em;
}

.icone_hotel_port {
  padding-left: 0px;
  margin-left: 9px;
  margin-top: 1.4px;
  margin-bottom: 15.4px;
  padding-top: 0px;
  text-align: left;
  color: #0065fc;
}

#offre_hotel_mouette {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 223px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 229px;
}

.image_mouette {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  font-weight: 400;
  height: 130px;
  margin-bottom: -18px;
  margin-left: 5px;
  margin-right: 2px;
  margin-top: 3px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  width: 219px;
}

.texte_mouette_gras {
  margin-top: 21.4px;
  font-family: "Raleway", sans-serif;
  margin-left: 10px;
  margin-right: 2px;
  margin-bottom: 0.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  font-weight: bold;
}

.texte_mouette {
  font-family: "Raleway", sans-serif;
  margin-left: 10px;
  margin-right: 2px;
  margin-bottom: 0.4px;
  margin-top: 5.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  font-size: 0.9em;
}

.icone_mouette {
  color: rgb(0, 101, 252);
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  margin-left: 9px;
  margin-top: 5.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
}

#offre_hotel_mer {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 223px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 229px;
}

.image_hotel_mer {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  font-weight: 400;
  height: 130px;
  margin-bottom: -18px;
  margin-left: 5px;
  margin-right: 2px;
  margin-top: 3px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  width: 219px;
}
.texte_hotel_mer_gras {
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  font-weight: 700;
  height: 17px;
  margin-bottom: 2.4px;
  margin-left: 10px;
  margin-right: 2px;
  margin-top: 21.4px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  width: 141px;
}
.texte_hotel_mer {
  font-family: "Raleway", sans-serif;
  margin-left: 10px;
  margin-right: 2px;
  margin-bottom: 0.4px;
  margin-top: 5.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  font-size: 0.9em;
}

.icone_hotel_mer {
  color: rgb(0, 101, 252);
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  margin-left: 9px;
  margin-top: 5.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
}

#offre_auberge_panier {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 223px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 229px;
}

.image_auberge_panier {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  font-weight: 400;
  height: 130px;
  margin-bottom: -18px;
  margin-left: 5px;
  margin-right: 2px;
  margin-top: 3px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  width: 219px;
}

.texte_auberge_panier_gras {
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  font-weight: 700;
  height: 17px;
  margin-bottom: 2.4px;
  margin-left: 10px;
  margin-right: 2px;
  margin-top: 21.4px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  width: 141px;
}

.texte_auberge_panier {
  font-family: "Raleway", sans-serif;
  margin-left: 10px;
  margin-right: 2px;
  margin-bottom: 0.4px;
  margin-top: 5.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  font-size: 0.9em;
}

.icone_auberge_panier {
  color: rgb(0, 101, 252);
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  margin-left: 9px;
  margin-top: 5.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
}

#offre_hotel_amina {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 223px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 229px;
}

.image_hotel_anima {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  font-weight: 400;
  height: 130px;
  margin-bottom: -18px;
  margin-left: 5px;
  margin-right: 2px;
  margin-top: 3px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  width: 219px;
}

.texte_hotel_anima_gras {
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  font-weight: 700;
  height: 17px;
  margin-bottom: 2.4px;
  margin-left: 10px;
  margin-right: 2px;
  margin-top: 21.4px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  width: 141px;
}

.texte_hotel_anima {
  font-family: "Raleway", sans-serif;
  margin-left: 10px;
  margin-right: 2px;
  margin-bottom: 0.4px;
  margin-top: 5.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  font-size: 0.9em;
}

.icone_hotel_anima {
  color: rgb(0, 101, 252);
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
  margin-left: 9px;
  margin-top: 5.4px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
}

.lien_section {
  display: flex;
  font-weight: bold;
}

/*Bloc complémentaire informatif aside*/

.titre_populaire {
  font-family: "Raleway", sans-serif;
  font-size: 19.2px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-top: 39px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.fa-chart-line {
  float: right;
  margin-left: 20px;
  margin-right: 19px;
}

aside {
  background-color: rgb(242, 242, 242);
  border: 3px rgb(242, 242, 242) solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#hotel_soleil {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.texte_soleil_matin {
  padding-left: 0px;
  width: 257px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0.4px;
  margin-bottom: 10.4px;
  text-align: left;
}

.image_soleil_matin {
  width: 150px;
  height: 150px;
  border-radius: 20px 0px 0px 20px;
  float: left;
}

.icone_soleil_matin {
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  color: #0065fc;
}

#coeur_eau {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  height: 160px;
  width: 300px;
}

.texte_coeur_eau {
  padding-left: 0px;
  width: 257px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0.4px;
  margin-bottom: 10.4px;
  text-align: left;
}

.image_coeur_eau {
  width: 150px;
  height: 150px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 10px;
  margin-bottom: 3px;
  border-radius: 20px 0px 0px 20px;
  float: left;
  margin-top: 4px;
  margin-left: 6px;
}

.icone_coeur_eau {
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  color: #0065fced;
}

#tout_bleu {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  height: 160px;
  width: 300px;
}

.texte_tout_bleu {
  padding-left: 0px;
  width: 257px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0.4px;
  margin-bottom: 10.4px;
  text-align: left;
}

.image_tout_bleu {
  width: 150px;
  height: 150px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 10px;
  margin-bottom: 3px;
  border-radius: 20px 0px 0px 20px;
  float: left;
  margin-top: 4px;
  margin-left: 6px;
}

.icone_tout_bleu {
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  color: #0065fc;
}

/*Bloc activité*/

#bloc_activite {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #ffffff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-left: 20px;
  width: 1100px;
  height: 479px;
  margin-top: 40px;
  padding-top: 0px;
}

.activite_titre {
  width: 700px;
  height: 20px;
  margin-right: 0px;
  margin-left: 21px;
  margin-top: 25px;
}

#vieux_port {
  background-color: white;
  border-radius: 20px;
  margin-left: -3px;
  height: 390px;
  width: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 10px 5px 5px #f2f2f2;
}

.texte_vieux_port {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  font-weight: bold;
  margin-left: 9px;
}

.image_vieux_port {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  border-radius: 20px 20px 0px 0px;
  width: 250px;
  height: 335px;
}

#fort_pomegues {
  background-color: white;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: 0px;
  border-radius: 20px;
  width: 250px;
  margin-left: 10px;
  height: 230px;
}

.texte_fort_pomegues {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
  margin-top: -4.6px;
}

.image_fort_pomegues {
  width: 250px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
}

#ile_frioul {
  background-color: white;
  width: 250px;
  height: 110px;
  margin-top: 10px;
  margin-bottom: 64px;
  margin-left: 10px;
  border-radius: 20px;
}

.texte_ile_frioul {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
  margin-top: -4.6px;
}

.image_ile_frioul {
  width: 250px;
  height: 73px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  border-radius: 20px 20px 0px 0px;
}

#calanques {
  background-color: white;
  border-radius: 20px;
  margin-left: -3px;
  height: 390px;
  width: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 10px 5px 5px #f2f2f2;
}

.texte_parc_calanques {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}

.image_parc_national_calanques {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  border-radius: 20px 20px 0px 0px;
  width: 250px;
  height: 335px;
}

#notre_dame {
  background-color: white;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: 0px;
  border-radius: 20px;
  width: 250px;
  margin-left: 10px;
  height: 230px;
}

.texte_notre_dame {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}

.image_notre_dame {
  width: 250px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
}

#parc_longchamp {
  background-color: white;
  padding-bottom: 0px;
  margin-top: 8px;
  margin-left: 0px;
  border-radius: 20px;
  width: 250px;
  margin-left: 10px;
  height: 230px;
}

.texte_parc_longchamp {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}

.image_parc_longchamp {
  width: 250px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
}

/*bloc footer*/

footer {
  background-color: #f2f2f2;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

footer p {
  font-weight: bold;
}

p.titre_footer {
  margin-left: 41px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: black;
}

.liste {
  list-style-type: none;
}

#a_propos {
  flex: 0.5em;
  margin-left: 362px;
}

#hebergements {
  flex: 0.5em;
}

#assistance {
  flex: 0.5em;
}
