* /*Police Raleway choisie est Light 300 et semi-bold 600 */ {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

p,
a {
  font-size: 0.9em;
}

body {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

/*header et nav*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_reservia {
  width: 42%;
}

/*Menu de navigation*/

nav a {
  text-decoration: none;
  color: #0065fc;
}

/*Bloc champ recherche*/
#champ_recherche {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

#champ_recherche span {
  width: 40px;
  height: 42px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  text-align: center;
  cursor: pointer;
  line-height: 2;
}
#champ_recherche input {
  border: 2px solid #f2f2f2;
  width: 200px;
  height: 40px;
}

#champ_recherche button {
  width: 120px;
  height: 46px;
  background-color: #0065fc;
  border: 2px solid #0065fc;
  border-radius: 0px 20px 20px 0px / 50px 15px 15px 0px;
  color: white;
  font-weight: bold;
}

/*Bloc filtres*/
#filtres {
  display: flex;
  margin-right: 20px;
  font-weight: bold;
}

#filtres p {
  margin-right: 20px;
  font-weight: bold;
}

.text_filter {
  margin-right: 20px;
  font-weight: bold;
}

#filtres button {
  width: 180px;
  height: 45px;
  margin-right: 20px;
  border-radius: 20px;
  border: 2px solid #f2f2f2;
  background-color: white;
}

#filtres i {
  color: #0065fc;
  background-color: #deebff;
  margin: -10px;
  margin-top: -44px;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  float: left;
  line-height: 40px;
}

.button_animals {
  width: 200px;
  height: 45px;
  margin-right: 20px;
  border-radius: 20px;
  border: 2px solid #f2f2f2;
  background-color: white;
}

/*bloc résultat*/
#result_search {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

#result_search span {
  color: #0065fc;
  border: 2px #f2f2f2 solid;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  line-height: 22px;
  font-size: 0.9em;
}

#result_search p {
  margin-left: 10px;
  margin-top: 10px;
}

/*Bloc Hébergement et Plus populaire*/

#bloc_hebergement_populaire {
  display: flex;
}

.fa-star {
  color: #0065fc;
}

/*Bloc hébergement*/
section {
  background-color: #f2f2f2;
  border: 3px #f2f2f2 solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 850px;
}

.line_first_hebergement {
  display: flex;
  justify-content: space-around;
}

.line_second_hebergement {
  display: flex;
}

section h2 {
  margin: 20px;
}

section a {
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
}

.media_hebergement {
  width: 30%;
  height: 215px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 3px solid white;
}

.img_hebergement img {
  width: 100%;
  height: 100px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.image_hebergement_mer {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 92px;
}

.image_hebergement_anima {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 92px;
}

.hebergement_texte_gras {
  font-weight: bold;
}

.lien_afficher_plus {
  font-weight: bold;
}

/*Bloc Les Plus Populaire*/

aside {
  background-color: #f2f2f2;
  border: 3px #f2f2f2 solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: space-around;
  align-items: center;
}

.title_populaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.fa-chart-line {
  font-size: 1.5em;
}

.media_populaire {
  display: flex;
  width: 85%;
  height: 150px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 3px solid white;
}

.img_one_large img {
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
  width: 56%;
  height: 150px;
}

.img_second_large img {
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
  width: 72%;
  height: 150px;
}

.img_height img {
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
  width: 125%;
  height: 150px;
}

.texte_populaire_gras {
  font-weight: bold;
}

/*Bloc activité*/
.box_activity {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff 3px solid;
  border-radius: 15px;
  height: 425px;
  padding: 10px;
}

.media_activite_hauteur {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 395px;
  width: 250px;
  margin: 10px;
  background-color: #f2f2f2;
  border-radius: 15px;
  box-shadow: 15px 5px 5px #f2f2f2;
}

.img_hauteur img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.media_activite_largeur {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  height: 160px;
  width: 250px;
  box-shadow: 10px 5px 5px #f2f2f2;
  margin: 10px;
}

.deux_colonnes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img_largeur img {
  width: 100%;
  height: 110px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.img_largeur_frioul img {
  width: 100%;
  height: 85px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.media_activite_largeur_frioul {
  background-color: #ffffff;
  height: 135px;
  width: 250px;
  box-shadow: 10px 5px 5px #f2f2f2;
  padding: 10px;
  margin: 10px;
}

/*bloc footer*/

footer {
  background-color: #f2f2f2;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.colonne_footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer a:hover {
  color: black;
}

footer li {
  text-decoration: none;
  list-style: none;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: black;
}
