/*Eléments principaux de la page*/

/*Police personnalisée*/
/*La police choisie est Light 300 et semi-bold 600*/

h2 {
  font-family: "Raleway", sans-serif; /*selecteur universel*/
  font-size: 1.2em;
  font-weight: bold;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  font-weight: normal;
}

button {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

#bloc_page {
  width: 1130px;
  margin: auto;
}

#filtres p {
  font-weight: bold;
}

.indication_slogan {
  font-weight: normal;
}

/*header*/
header {
  display: flex;
  flex-direction: row;
  height: 70px;
}

#logo_reservia {
  width: 1130px;
  margin-top: 40px;
  padding-bottom: 20px;
}

/*Menu de navigation*/
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 22px;
  margin-bottom: 10px;
  margin-top: 65px;
  padding-left: 0px;
  padding-right: 0px;
  width: 302.617px;
  height: 32px;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 1.3em;
  text-decoration: none;
  color: #0065fc;
}

nav a:hover {
  margin-top: 5px;
}

/*Bloc slogan*/
#slogan {
  width: 900px;
  padding: 20px;
  margin-top: 5px;
  margin-left: 20px;
}
.titre_slogan {
  width: 500px;
  margin-bottom: 10.936px;
  margin-top: 67.936px;
  margin-left: -15px;
  height: 20px;
  text-align: left;
}

.complement_slogan {
  height: 20px;
  text-align: left;
  margin-bottom: 1px;
  margin-left: -14px;
  width: 276px;
  margin-top: 8px;
}

/*Bloc champ recherche*/
#champ_recherche {
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 70px;
  margin-right: 50px;
  margin-left: 26px;
  margin-top: -5px;
  margin-bottom: -10px;
}

.fa-map-marker-alt {
  width: 40px;
  height: 27px;
  text-align: center;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  padding-top: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  cursor: pointer;
}

.champ_saisie {
  width: 200px;
  height: 35px;
  border: 2px solid #f2f2f2;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.bouton_rechercher {
  width: 120px;
  height: 40px;
  background-color: #0065fc;
  border: 2px #0065fc;
  border-radius: 0px 20px 20px 0px / 50px 15px 15px 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

/*Bloc filtres*/
#filtres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  margin-left: 30px;
  padding-left: 30px;
}

.champ_saisie_economique {
  display: flex;
  flex-direction: row;
  width: 290px;
  height: 40px;
  margin-right: 5px;
  margin-left: 1px;
}

.texte_filtre {
  width: 104.267px;
  margin-left: -33px;
  margin-right: -18px;
}

.bouton_filtre {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: 2px #f2f2f2 solid;
  background-color: white;
}

.fa-money-bill-wave {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 70px;
  padding: 17px;
  float: left;
  text-align: center;
  margin: -10px;
}

.fa-child {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 70px;
  padding: 17px;
  float: left;
  text-align: center;
  margin: -10px;
}

.fa-heart {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 70px;
  padding: 17px;
  float: left;
  text-align: center;
  margin: -10px;
}

.fa-dog {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 70px;
  padding: 17px;
  float: left;
  text-align: center;
  margin: -10px;
}

/*bloc informatif nombre logements*/
#info_resultat_recherche {
  display: flex;
  flex-direction: row;
}

.info_recherche {
  margin-left: 10px;
  margin-top: 27px;
}

.fa-info {
  color: #0065fc;
  border-radius: 30px;
  width: 15px;
  height: 15px;
  border: 2px #f2f2f2 solid;
  text-align: center;
  margin-left: 15px;
  padding: 9px;
  float: left;
}

/*Bloc central*/
#bloc_central {
  background-color: #ffffff;
  display: flex;
  width: 1130px;
  height: 800px;
}

/*bloc offre hébergement*/

.bloc_hebergement {
  background-color: #f2f2f2;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border: 3px #f2f2f2 solid;
  border-radius: 15px;
  margin-left: 2%;
  width: 755px;
  height: 754px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
  padding-bottom: 90px;
}

.titre_hebergement {
  height: 31px;
  margin-bottom: 7px;
  width: 585.617px;
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
}

#offre_cannebiere {
  width: 220px;
height: 240px;
  margin-left: 8px;
  padding-left: 0px;
  padding-right: 5px;
  padding-top: -7px;
  margin-bottom: 40px;
  padding-bottom: 2px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
}

.image_cannebiere {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 0px 0px;
  height: 120px;
  width: 177px;
}

.texte_cannebiere {
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  text-align: left;
}

.icone-cannebiere {
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  color: #0065fc;
}

#offre_hotel_port {
  width: 220px;
height: 240px;
  margin-left: 8px;
  padding-left: 0px;
  padding-right: 5px;
  padding-top: -7px;
  margin-bottom: 40px;
  padding-bottom: 2px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
}

.image_hotel_port {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 0px 0px;
  height: 60%;
  width: 95%;
}

.texte_hotel_port {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  text-align: left;
}

.icone_hotel_port {
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  color: #0065fc;
}

#offre_hotel_mouette {
  width: 220px;
height: 240px;
  margin-left: 8px;
  padding-left: 0px;
  padding-right: 5px;
  padding-top: -7px;
  margin-bottom: 40px;
  padding-bottom: 2px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
}

.image_mouette {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 0px 0px;
  width: 95%;
}

.texte_mouette {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  text-align: left;
}

.icone_mouette {
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  color: #0065fc;
}

#offre_hotel_mer {
  width: 220px;
height: 240px;
  margin-left: 8px;
  padding-left: 0px;
  padding-right: 5px;
  padding-top: -7px;
  margin-bottom: 40px;
  padding-bottom: 2px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
}

.image_hotel_mer {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 0px 0px;
  height: 60%;
  width: 95%;
}
.texte_hotel_mer {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  text-align: left;
}
.icone_hotel_mer {
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  color: #0065fc;
}

#offre_auberge_panier {
  width: 220px;
height: 240px;
  margin-left: 8px;
  padding-left: 0px;
  padding-right: 5px;
  padding-top: -7px;
  margin-bottom: 40px;
  padding-bottom: 2px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
}

.image_auberge_panier {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 0px 0px;
  height: 60%;
  width: 95%;
}

.texte_auberge_panier {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  text-align: left;
}

.icone_auberge_panier {
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  color: #0065fc;
}

#offre_hotel_amina {
  width: 220px;
height: 240px;
  margin-left: 8px;
  padding-left: 0px;
  padding-right: 5px;
  padding-top: -7px;
  margin-bottom: 40px;
  padding-bottom: 2px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
}

.image_hotel_anima {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 0px 0px;
  height: 60%;
  width: 95%;
}

.texte_hotel_anima {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  text-align: left;
}

.icone_hotel_anima {
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  color: #0065fc;
}

.lien_section {
  position: relative;
  border: blue 3px solid;
}

/*Bloc complémentaire informatif aside*/

.titre_populaire {
  margin-top: 20px;
  margin-left: -9px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

aside {
  background-color: #f2f2f2;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border: 3px #f2f2f2 solid;
  border-radius: 15px;
  width: 360px;
  padding: 20px;
  position: relative;
  margin-right: 20px;
  margin-left: 18px;
}

#hotel_soleil {
  background-color: white;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 5px;
  text-align: center;
  border-radius: 20px;
  width: 356px;
  margin-left: -9px;
  height: 190px;
}

.texte_soleil_matin {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
}

.image_soleil_matin {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 20px 20px;
  float: left;
  width: 174px;
  height: 162px;
}

.icone_soleil_matin {
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  color: #0065fc;
}

#coeur_eau {
  background-color: white;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 5px;
  text-align: center;
  border-radius: 20px;
  width: 356px;
  margin-left: -9px;
  height: 190px;
}

.texte_coeur_eau {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  text-align: left;
}

.image_coeur_eau {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 20px 20px;
  float: left;
  width: 174px;
  height: 162px;
}

.icone_coeur_eau {
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  color: #0065fced;
}

#tout_bleu {
  background-color: white;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 5px;
  text-align: center;
  border-radius: 20px;
  width: 356px;
  margin-left: -9px;
  height: 190px;
}

.texte_tout_bleu {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  text-align: left;
}

.image_tout_bleu {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 20px 20px;
  float: left;
  width: 174px;
  height: 162px;
}

.icone_tout_bleu {
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  color: #0065fc;
}

/*Bloc activité*/

#bloc_activite {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: brown 3px double;
  margin-top: 30px;
  margin-bottom: 20px;
}

#vieux_port {
  background-color: white;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  text-align: center;
  border-radius: 20px;
  width: 356px;
  margin-left: -9px;
  height: 190px;
}

.texte_vieux_port {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}

.image_vieux_port {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 0px 0px;
  background-color: mediumorchid;
  height: 60%;
  width: 95%;
}

#fort_pomegues {
  background-color: white;
  width: 250px;
  height: 320x;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  text-align: center;
  border-radius: 20px;
  margin-left: 10px;
}

.texte_fort_pomegues {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}

.image_fort_pomegues {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 0px 0px;
  background-color: mediumorchid;
  height: 60%;
  width: 95%;
}

#ile_frioul {
  background-color: white;
  width: 250px;
  height: 320x;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  text-align: center;
  border-radius: 20px;
  margin-left: 10px;
}

.texte_ile_frioul {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}

.image_ile_frioul {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 0px 0px;
  background-color: mediumorchid;
  height: 60%;
  width: 95%;
}

#calanques {
  background-color: white;
  width: 250px;
  height: 320x;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  text-align: center;
  border-radius: 20px;
  margin-left: 10px;
}

.texte_parc_calanques {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}

.image_parc_national_calanques {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 0px 0px;
  background-color: mediumorchid;
  height: 60%;
  width: 95%;
}

#notre_dame {
  background-color: white;
  width: 250px;
  height: 320x;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  text-align: center;
  border-radius: 20px;
  margin-left: 10px;
}

.texte_notre_dame {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}

.image_notre_dame {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 0px 0px;
  background-color: mediumorchid;
  height: 60%;
  width: 95%;
}

#parc_longchamp {
  background-color: white;
  width: 250px;
  height: 320x;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  text-align: center;
  border-radius: 20px;
  margin-left: 10px;
}

.texte_parc_longchamp {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}

.image_parc_longchamp {
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 20px 20px 0px 0px;
  background-color: mediumorchid;
  height: 60%;
  width: 95%;
}

/*bloc footer*/

footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  width: 100%;
}
